@import "src/assets/variables"

.car-landing
    padding: 32px 5% 24px
    @media only screen and (max-width: $max-medium)
        padding: 18px 5% 24px
    @media only screen and (min-width: 2300px)
        padding: 32px 25% 24px

.car-hidden
    display: none

.car-header
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    @media only screen and (max-width: $max-large)
        flex-direction: column

.car-header-info
    display: flex
    flex-direction: row
    @media only screen and (max-width: $max-desktop)
        margin: 0 0 12px
    @media only screen and (max-width: $max-medium)
        flex-direction: column
