@import "src/assets/variables"

.container-brand
    padding: 0

.brand-hidden
    display: none

.brand-not-found
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 22px
    span
        color: $primary
    .brand-not-found-code
        font-size: 34px
        font-weight: 500
        margin: 0 0 2px
