@import "src/assets/variables"

.container-brand
    padding: 0

.brand-landing
    margin: 0px 20% 24px
    font-family: 'Roboto', sans-serif
    @media only screen and (max-width: $max-desktop)
        margin: 0px 12% 24px
    @media only screen and (max-width: $max-medium)
        align-items: center
        margin: 0px 0 24px
    @media only screen and (min-width: 2300px)
        margin: 0px 30% 24px

.brand-background
    margin: 60px 20% 24px
    @media only screen and (max-width: $max-desktop)
        margin: 60px 12% 24px
    @media only screen and (max-width: $max-medium)
        align-items: center
        margin: 60px 0 24px
    @media only screen and (min-width: 2300px)
        margin: 60px 30% 24px

.brand-no-background
    margin: 126px 20% 24px
    @media only screen and (max-width: $max-desktop)
        margin: 126px 12% 24px
    @media only screen and (max-width: $max-medium)
        align-items: center
        margin: 78px 0 24px
    @media only screen and (min-width: 2300px)
        margin: 126px 30% 24px

.brand-hidden
    display: none
