.brand-title
    height: auto
    padding: 0 8px

.brand-title-text
    font-size: 28px
    font-weight: 500

.brand-title-founded
    padding: 0 4px
    font-size: 18px

.brand-title-no-founded
    display: flex
    justify-content: center
    align-items: center
